<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= profile.display_name || profile.name %> - in nostr</title>
    <meta name="description" content="<%= profile.about %>">
    <meta name="author" content="<%= profile.display_name || profile.name %> - in nostr">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="<%= profile.display_name || profile.name %>">
    <meta property="og:description" content="<%= profile.about %>">
    <meta property="og:site_name" content="Nostr">
    <meta property="og:image" content="<%= profile.banner %>">

    <link rel="shortcut icon" href="/favicon.ico" href="<%= profile.picture %>">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="main">
      <div id="left_panel">
        <img id="top_banner_img" src="<%= profile.banner %>" />
        <img id="top_profilepicture" src="<%= profile.picture %>" />
        <h2 id="top_displayname" class="plaintext"><%- profile.display_name || profile.name %></h2>
        <span id="top_nip05" class="plaintext" ><%- profile.nip05 || pubkey %></span><br>
        <small id="top_user_status"><%- status %></small>
        <p id="top_about" class="plaintext"><%- profile.about %></p>

        <small><a href="nostr:<%= npub %>">View profile in Nostr client</a></small>
      </div>

      <div id="right_panel">
        <h2>Recent Notes</h2>
        <% for (const event of notes) { %>
          <div class="post">
            <div class="post_profile">
              <img class="post_profilepicture" src="<%= profile.picture %>" />
              <div class="post_profileinfo">
                <span class="post_profilename"><%- profile.display_name || profile.name %></span><br>
                <a href="nostr:<%= event.noteId %>"><span class="post_date"><%= event.date %></span></a>
              </div>
            </div>
            <p class="plaintext"><%- event.content %></p>
          </div>
        <% } %>
        <small><a href="nostr:<%= npub %>">View more post from <%= profile.display_name || profile.name %> in Nostr client</a></small><br><br>
      </div>
    </div>
    <small style="border-top: 1px solid grey;">Rendered by <a href="https://github.com/Yonle/nostr-profile">nostr-profile</a></span>
  </body>
</html>
